*models
*model
*logs
/__pycache__
/.ipynb_checkpoints
/data
/srai
/.idea
/.vscode
/cache
/files
coverage.xml
.pdm-python
wroclaw_testing_script
build/
map_generation/EDA/cache
map_generation/EDA/test-npm/node_modules
map_generation/EDA/**/*.json
map_generation/EDA/**/*.mvt
**/__pycache__
**/.ipynb_checkpoints
logs_cont/